html 
{
    box-sizing: border-box;
    font-size: 62.5%;
}

 *, *:before, *:after 
 {
    box-sizing: inherit;
 }
  
 body
 {
     font-family: 'Open Sans', sans-serif;
     font-size: 1.6rem;
     line-height: 2;
 }

 img
 {
     max-width: 100%;
 }

  h1, h2, h3, h4
 {
    font-family: 'PT Sans', sans-serif; 
 }

 h1
 {
    font-size: 4.8rem;
 }

 h2
 {
    font-size: 4rem;
 }

 h3
 {
    font-size: 3.2rem;
 }

 h4
 {
    font-size: 2.8rem;
 }

 /* Utilidades */
 .centrar-texto
 {
     text-align: center;
 }

 .contenedor
 {
     max-width: 120rem;
     margin: 0 auto;
 }

 
