html 
{
    box-sizing: border-box;
    font-size: 62.5%;
}

 *, *:before, *:after 
 {
    box-sizing: inherit;
 }
  
 body
 {
   font-family: 'PT Sans', sans-serif; 
   font-size: 1.6rem;
   line-height: 1.8;
 }

 img
 {
     max-width: 100%;
 }

  h1, h2, h3, h4
 {
   font-family: 'Open Sans', sans-serif;
 }

 h1
 {
    font-size: 4.8rem;
 }

 h2
 {
    font-size: 4rem;
 }

 h3
 {
    font-size: 3.2rem;
 }

 h4
 {
    font-size: 2.8rem;
 }

 /* Utilidades */
 .centrar-texto
 {
     text-align: center;
 }

 .contenedor
 {
     max-width: 120rem;
     margin: 0 auto;
     width: 90%;
 }

 .seccion
 {
    margin-top: 2rem;
    margin-bottom: 2rem;
 }
.no-margin
{
   margin: 0;
}


 /* Header */ 

 .site-header.inicio
 {
    background-image: url(../img/banner.jpg);
    /* height: 100vh; */
    /* min-width: 40rem; */
    height: 60rem;
    background-position: center center;
    background-size: cover;
    /* background-repeat: no-repeat; */
 }

 
.barra a
{
   text-decoration: none;
   color: white;
   display: block;
   
}

.barra h1
{
   font-weight: 400;
}

.barra h1 span
{
   font-weight: 700;
}

@media (min-width:768px) 
{
   .barra
   {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.navegacion a
{
   font-size: 2rem;
}

@media (min-width:768px) 
{
   .navegacion a
   {
      display: inline;
      margin-right: 2rem;
      
   }

   .navegacion a:last-of-type
   {
      margin: 0;
   }
}



.texto-header 
{
   color: white;
   margin-top: 5rem;
}

@media (min-width:768px) 
{
   .texto-header 
   {
      margin-top: 15rem;
   }
}

.texto-header p
{
   font-size: 2rem;
   padding-top: 2rem;
}
